{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/basecss.css'%}">
    <style>
        #cardarea{
            height:70%;
            width:90%;
            margin-left:auto;
            margin-right:auto;
            margin-top:3%;
            background : no-repeat center/100% url({% static 'img/pola.png' %});
            {% comment %} background-image: url({% static 'img/pola.png' %}); {% endcomment %}
            background-size: 160% 130%
        }
        #photo{
            height:65%;
            width:79.3%;
            margin-left:10.3%;
            margin-right:auto;
            margin-top:14%;
            /* -webkit-filter: grayscale(100%);
            filter: gray; */
        }
        .inform{
            text-align:center;
        }
        .phototext{
            font-family: 'InkLipquid';
            font-size:1.6em;
          
        }
        #photoform{
            margin: 0 auto;
            width:81%;
            text-align:center;
            background-color:#F5F5F5;              
        }
        .fas{
            font-size:2em;
            color:rgb(54, 54, 54);
        }
        .far{
            font-size:2em;
            color:rgb(54, 54, 54);
        }
        .btn{
            margin-left: auto;
            margin-right: auto;
            padding-left:13%;
            padding-right:13%;
        }
        .btn-photo{
            background-color:white;
            padding-top:5%;
            padding-bottom:5%;
        }
        .photoicon{
            width:2.2em;
        }
        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
            text-align: center;
          
        }
        .fas.fa-file-upload{
            color: white;
            font-size: 2rem;  
        }
        .fas.fa-print{
            color: white;
            font-size: 2rem;  
        }
      
        .fas.fa-share{
            color: white;
            font-size: 2rem;  
        }
        #photo-bt{
            margin-left: 6rem;
        }
{% comment %} 
        /*공유버튼 CSS*/


        a {
        color: inherit;
        }

        .menu {
        -webkit-filter: url("#shadowed-goo");
                filter: url("#shadowed-goo");
        }
        
        .menu-item, .menu-open-button {
            
        background: #ff4081;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        margin-left: 80px;
        position: absolute;
        top: 20px;
        color: white;
        text-align: center;
        line-height: 70px;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform ease-out 200ms;
        transition: -webkit-transform ease-out 200ms;
        transition: transform ease-out 200ms;
        transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
        }

        .menu-open {
        display: none;
        
        }

        .hamburger {
        width: 25px;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        -webkit-transition: -webkit-transform 200ms;
        transition: -webkit-transform 200ms;
        transition: transform 200ms;
        transition: transform 200ms, -webkit-transform 200ms;
        
        }

        .hamburger-1 {
        -webkit-transform: translate3d(0, -8px, 0);
                transform: translate3d(0, -8px, 0);
        }

        .hamburger-2 {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        }

        .hamburger-3 {
        -webkit-transform: translate3d(0, 8px, 0);
                transform: translate3d(0, 8px, 0);
        }

        .menu-open:checked + .menu-open-button .hamburger-1 {
        -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
                transform: translate3d(0, 0, 0) rotate(45deg);
        }
        .menu-open:checked + .menu-open-button .hamburger-2 {
        -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
                transform: translate3d(0, 0, 0) scale(0.1, 1);
        }
        .menu-open:checked + .menu-open-button .hamburger-3 {
        -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
                transform: translate3d(0, 0, 0) rotate(-45deg);
        }

        .menu {
        position: absolute;
        left: 50%;
        margin-left: -190px;
        padding-top: 20px;
        padding-left: 170px;
        width: 380px;
        height: 250px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
        top: 600px;
        }

        .menu-item:hover {
        background: white;
        color: #ff4081;
        }
        .menu-item:nth-child(3) {
        -webkit-transition-duration: 70ms;
                transition-duration: 70ms;
        }
        .menu-item:nth-child(4) {
        -webkit-transition-duration: 130ms;
                transition-duration: 130ms;
        }
        .menu-item:nth-child(5) {
        -webkit-transition-duration: 190ms;
                transition-duration: 190ms;
        }
        .menu-item:nth-child(6) {
        -webkit-transition-duration: 250ms;
                transition-duration: 250ms;
        }
        .menu-item:nth-child(7) {
        -webkit-transition-duration: 310ms;
                transition-duration: 310ms;
        }

        .menu-open-button {
        z-index: 2;
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition-duration: 400ms;
                transition-duration: 400ms;
        -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
                transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
        }

        .menu-open-button:hover {
        -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
                transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        }

        .menu-open:checked + .menu-open-button {
        -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
                transform: scale(0.8, 0.8) translate3d(0, 0, 0);
        }

        .menu-open:checked ~ .menu-item {
        -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
                transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
        }
        .menu-open:checked ~ .menu-item:nth-child(3) {
        -webkit-transition-duration: 160ms;
                transition-duration: 160ms;
        -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
                transform: translate3d(114.42548px, 11.48084px, 0);
        }
        .menu-open:checked ~ .menu-item:nth-child(4) {
        -webkit-transition-duration: 240ms;
                transition-duration: 240ms;
        -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
                transform: translate3d(77.18543px, 85.2491px, 0);
        }
        .menu-open:checked ~ .menu-item:nth-child(5) {
        -webkit-transition-duration: 320ms;
                transition-duration: 320ms;
        -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
                transform: translate3d(0.09158px, 114.99996px, 0);
        }
        .menu-open:checked ~ .menu-item:nth-child(6) {
        -webkit-transition-duration: 400ms;
                transition-duration: 400ms;
        -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
                transform: translate3d(-77.04956px, 85.37192px, 0);
        }
        .menu-open:checked ~ .menu-item:nth-child(7) {
        -webkit-transition-duration: 480ms;
                transition-duration: 480ms;
        -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
                transform: translate3d(-114.40705px, 11.66307px, 0);
        }

 {% endcomment %}

        
    </style>
{% endblock %}  
{% block content %} 
<!--프린트-->
    <script>
        function onPrint() {      
            document.body.innerHTML = cardarea.innerHTML;
			window.print();
        }
    </script>
    <!--로그인 되었을때 포토카드 업로드,인쇄 활성화-->
    {% if user.is_authenticated %}
        {% for post in posts %}
        <div id="cardarea">
                <img src="{{ post.post_img.url }}"  id="photo">
                <div class="inform">
                    <p class="phototext" contenteditable="true">날짜를 작성해주세요</p>
                    <p class="phototext" contenteditable="true">원하는 문구를 작성해주세요</p>
                   
                </div>
        </div>
        {% endfor %}
        <div id="photo-bt">
        
            <a href="{% url 'trips:create' %}"><button type="button" class="btn btn-info btn-circle btn-xl"><i class="fas fa-file-upload" title="Upload" data-toggle="tooltip" data-placement="bottom"></i></button></a>
            <button type="button" class="btn btn-warning btn-circle btn-xl" onclick="onPrint()"><i class="fas fa-print" title="Print" data-toggle="tooltip" data-placement="bottom"></i></button>
            <a href="{% url 'trips:social' %}"><button type="button" class="btn btn-danger btn-circle btn-xl"> <i class="fas fa-share" title="share" data-toggle="tooltip" data-placement="bottom"></i></button></a>
            
            <!--공유 햄버거-->
            {% comment %} <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
            <label class="menu-open-button" for="menu-open" title="share" data-toggle="tooltip" data-placement="bottom">
                <i class="fas fa-share"></i> {% endcomment %}
                {% comment %} <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span> {% endcomment %}
            {% comment %} </label>
            
            <a href="#" class="menu-item"> <i class="fab fa-facebook"></i> </a>
            <a href="#" class="menu-item"> <i class="fab fa-twitter"></i> </a>
            <a href="#" class="menu-item"> <i class="fab fa-instagram"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
            <a href="#" class="menu-item"> <span style="color:white"><i class="far fa-comment fa-lg"></i></span> </a>

            </nav> {% endcomment %}
        
        </div>
    <!--로그인 안되었을때 샘플 포토카드와 로그인, 회원가입 안내 메세지-->
    {% else %}
          <div class="cardarea">
                <img src="{% static 'img/namsan2.jpg' %}"  id="photo">
                <div class="inform">
                    <p class="phototext">포토카드 샘플</p>
                    <p class="phototext">2020.08.08</p>
                    <p class="phototext">추억하고 싶은날♡</p>
                </div>
        </div>
        <div >
            <p style="text-align:center;">로그인 or  회원가입을 하면</p>
            <p style="text-align:center;">나만의 포토카드를 소장할 수 있어요!</p>
        </div>
    {% endif %}
   
    

    <!-- filters -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
        <filter id="shadowed-goo">
            
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
            <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
            <feOffset in="shadow" dx="1" dy="1" result="shadow" />
            <feBlend in2="shadow" in="goo" result="goo" />
            <feBlend in2="goo" in="SourceGraphic" result="mix" />
        </filter>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in2="goo" in="SourceGraphic" result="mix" />
        </filter>
        </defs>
    </svg>


    {% comment %} <form action="" id="photoform">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/upload.png' %}" class="photoicon">-->
                <i class="fas fa-file-upload" title="Upload" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/print.png' %}" class="photoicon">-->
                <i class="fas fa-print" title="Print" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/share.png' %}" class="photoicon">-->
                <i class="far fa-share-square" title="share" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
        </div>
    </form> {% endcomment %}
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script>
		$(function () {
            jQuery.noConflict(); 
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
   
{% endblock %}