{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/basecss.css'%}">
    <style>
        .cardarea{
            height:70%;
            width:90%;
            margin-left:auto;
            margin-right:auto;
            margin-top:8%;
            background-image: url({% static 'img/photocard2.png' %});
            background-size:100% 100%;
        }
        #photo{
            height:62.8%;
            width:79.3%;
            margin-left:10.3%;
            margin-right:auto;
            margin-top:14%;
            /* -webkit-filter: grayscale(100%);
            filter: gray; */
        }
        .inform{
            text-align:center;
        }
        .phototext{
            font-family:'InkLipquid';
            font-size:1.4em;
        }
        #photoform{
            margin: 0 auto;
            width:81%;
            text-align:center;
            background-color:#F5F5F5;              
        }
        .fas{
            font-size:2em;
            color:rgb(54, 54, 54);
        }
        .far{
            font-size:2em;
            color:rgb(54, 54, 54);
        }
        .btn{
            margin-left: auto;
            margin-right: auto;
            padding-left:13%;
            padding-right:13%;
        }
        .btn-photo{
            background-color:#F5F5F5;
            padding-top:5%;
            padding-bottom:5%;
        }
        .photoicon{
            width:2.2em;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="cardarea">
        <img src="{% static 'img/namsan2.jpg' %}" id="photo">
        <div class="inform">
            <p class="phototext">2020.08.08 남산타워</p>
            <p class="phototext">RM이 방문했던 장소에:-)</p>
        </div>
    </div>
    <form action="" id="photoform">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/upload.png' %}" class="photoicon">-->
                <i class="fas fa-file-upload" title="Upload" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/print.png' %}" class="photoicon">-->
                <i class="fas fa-print" title="Print" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
            <button type="button" class="btn btn-photo">
                <!--<img src="{% static 'img/share.png' %}" class="photoicon">-->
                <i class="far fa-share-square" title="share" data-toggle="tooltip" data-placement="bottom"></i>
            </button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
{% endblock %}