{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block style %}
<style>
{% comment %} body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(18deg, #e37682, #a58fe9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
} {% endcomment %}

body{
    {% comment %} background: linear-gradient(18deg, #e37682, #a58fe9); {% endcomment %}
}
.hexagon-wrapper {
  margin-right: 0rem;
  margin-left: 0rem;
  

  display: flex;
 
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, white, #fda3b2);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.hexagon i {
  z-index: 1;
  margin: auto;
  font-size: 30px;
  color: transparent;
  background: linear-gradient(45deg, #a58fe9, #e37682);
  background-clip: text;
  -webkit-background-clip: text;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon:before {
  transform: rotateZ(60deg);
}
.hexagon:after {
  transform: rotateZ(-60deg);
}
.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}

</style>
{% endblock  %}
{% block content %}
    <div class="row row-cols-2">
        {% for post in posts %}
            <div class="card m-3">
                <h5 class="card-header">
                    <span class="post-title">{{ post.post_title }}</span>
                    <img class="rounded-circle" src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/92822152_547335922653801_7878435854547419136_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=_vyuCoGMVoQAX-sxxS6&oh=0f1b435583bcfabe617c3527edbb8d88&oe=5F1CEDE6" alt="" witdh="50px" height="50px">
                    {{ post.post_user.username }}
                </h5>
                <img src="{{ post.post_img.url }}" class="c ard-img-top">
                <div class="card-body">
                    <i class="far fa-heart"></i>
                    {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                   <p class="card-text">{{ post.post_content }}</p>
                    <p class="card-text">{{ post.post_date }}</p>
                </div>
            </div>        
        {% endfor %}
    </div> 

    <div class="row no-gutters" style="margin-left:3rem;">
    <div class=".col-6 .col-md-4">
        <div class="hexagon-wrapper">
            <div class="hexagon">
            <i class="fab fa-facebook"></i>
            </div>
        </div>
    </div>
    
    <div class=".col-6 .col-md-4">
        <div class="hexagon-wrapper">
            <div class="hexagon">
            <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class=".col-6 .col-md-4">
        <div class="hexagon-wrapper">
            <div class="hexagon">
            <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
