{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="row row-cols-2">
        {% for post in posts %}
            <div class="card m-3">
                <h5 class="card-header">
                    <span class="post-title">{{ post.post_title }}</span>
                    <img class="rounded-circle" src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/92822152_547335922653801_7878435854547419136_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=_vyuCoGMVoQAX-sxxS6&oh=0f1b435583bcfabe617c3527edbb8d88&oe=5F1CEDE6" alt="" witdh="50px" height="50px">
                    {{ post.post_user.username }}
                </h5>
                <img src="{{ post.post_img.url }}" class="c ard-img-top">
                <div class="card-body">
                    <i class="far fa-heart"></i>
                    {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                    <p class="card-text">{{ post.post_content }}</p>
                    <p class="card-text">{{ post.post_date }}</p>
                </div>
            </div>        
        {% endfor %}
    </div>
{% endblock %}
