{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/main.css'%}">
{% endblock  %}
{% block header  %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand logo" src="{% static "img/logo.png" %}" width="20%" onClick="{% url 'index' %}">
  {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock  %}

{% block content %}
<div>
  <div id="main_img">
      <img src="{% static 'img/theme/bts_tour.PNG' %}" alt="" style="width:100%; text-align:center;" />
      <br>
      <img src="{% static 'img/theme/bts_path.png' %}" alt="bts_path" style="width:100%; text-align:center;" />
  </div>
<br>
  <h5># 양주 일영역</h5>
  <div id="section" style="text-align:center; margin-bottom:10%;">
    <img src="{% static 'img/theme/bts_theme1.png' %}" alt="" style="width:80%;" /> 
    <br>  
      <h8>방탄소년단(BTS)의 ‘봄날’ MV의 첫 장면(8초~34초 부분)을 촬영한 양주 일영역입니다. 멤버 뷔(김태형)가 승강장에서 철길로 걸어가서 눈이 쌓인 레일에 볼을 대는 장면을 촬영해서 최근 해외관광객이 많이 방문하는 핫플레이스라고 하네요! </h8>

    <div class="card m-3">
      <div class="card-body">
      주소: 경기도 양주시 장흥면 일영로647번길 25
      </div>
    </div>
  </div>

  <h5># 춘천 강촌역</h5>
  <div id="section" style="text-align:center; margin-bottom:20%;">
      <img src="{% static 'img/theme/bts_theme2.png' %}" alt="" style="width:80%;" >
  </div>
  <h5># 강릉 향호해변정류장</h5>
  <div id="section" style="text-align:center; margin-bottom:20%;">
      <img src="{% static 'img/theme/bts_theme3.jpeg' %}" alt="" style="width:80%;" >
  </div>

</div>
{% endblock  %}
{% block footer %}
<div class="footer text-center">
<div onClick="location.href ='http://URL주소'"><img src="{% static "img/footlogo1.png" %}" width="50%">
<p class="footericontext">홈</p>
</div>
<div onClick="location.href ='http://URL주소'"><img src="{% static "img/footlogo2.png" %}" width="50%">
<p class="footericontext">랭킹</p>
</div>
<div onClick="location.href ='http://URL주소'"><img src="{% static "img/footlogo3.png" %}" width="50%">
<p class="footericontext">스팟</p>
</div>
<div onClick="location.href ='http://URL주소'"><img src="{% static "img/footlogo4.png" %}" width="50%">
<p class="footericontext">마켓</p>
</div>
<div onClick="location.href ='http://URL주소'"><img src="{% static "img/footlogo5.png" %}" width="50%">
<p class="footericontext">여행공유</p>
</div>
</div>
{% endblock  %}