<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
    <header class="header-area">
        {% block header %}
        {% endblock %}
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer-area">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>