{% load static %}
{% load bootstrap4 %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min (2).css'%}">
{% block style %}
<style>
@media all and (min-width:320px){
body{
    margin-top: 40rem;
    margin-left: 20rem;
    background: #ff9999;
}
.form-control{
    width: 50%;
    
    
}
.btn.btn-outline-info{
      margin-left: 17rem;
}
}
</style>

{% endblock  %}
{% block content %}
  <!--20200812 semi update(회원정보수정)-->
    <div class="contact-heading">
        <h3>UPDATE</h3>
    </div>

    <form action="" method="POST"  class="d-inline" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
                <br><br>
        <div style='text-align:center'>
            <button class="btn btn-outline-info" type="reset">Reset</button>&nbsp;&nbsp;
            <button class="btn btn-outline-info">Submit</button>        
        </div>
    </form>
      
{% endblock  %}