@media all and (min-width:320px){
body{
background:black;    
}



    }
    @media all and (min-width:768px){
    body{
    background:red;
}
}
@media all and (min-width:960px){
    body{
    background:blue;
    }
}
.logo {
    width: 10px;
}